# Maven target directory
/target/

# IDE files
.idea/
*.iml
*.iws
*.ipr

# Eclipse files
.classpath
.project
.settings/

# NetBeans files
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
