<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable component scanning for Spring components -->
    <context:component-scan base-package="pricecomparison"/>

    <!-- Hibernate SessionFactory Configuration -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource">
            <!-- Direct JDBC configuration using DriverManagerDataSource -->
            <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/price_comparison"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </bean>
        </property>
        <property name="packagesToScan" value="pricecomparison.entity"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>
    <bean id="modelRepository" class="pricecomparison.repository.ModelRepository">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="modelVariationRepository" class="pricecomparison.repository.ModelVariationRepository">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
       <bean id="modelPropertyRepository" class="pricecomparison.repository.ModelPropertyRepository">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="comparisonRepository" class="pricecomparison.repository.ComparisonRepository">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Enable annotation-driven transaction management -->
    <tx:annotation-driven/>

</beans>
